body {
  background-color: antiquewhite;
  font-family: 'Poppins', sans-serif;
  color: #373737; 
}

.main-title {
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
  margin: 65px 0;
  justify-content: center;
  text-align: center;
}

.main-title img {
  height: 13rem; 
  margin: 24px 0; 
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.main-title h1 {
  font-weight: 700;
  padding: 20px; 
}

.main-title h3 {
  margin: 30px 0 20px 0;
}

textarea.form-control {
    height: 3rem;
    font-size: 20px;
}

.card-container-div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: #c7dff4;
}

p {
  font-family: 'Poppins', sans-serif
}

.btn-container {
  justify-content: center;
  text-align: center;
  margin: 60px 0; 
}

.btn.btn-danger {
  font-family: 'Poppins', sans-serif
}

.btn{
  font-family: 'Poppins', sans-serif
}

#card-container {
  width: 45%; 
  text-align: center;
  margin-right: 30px;
  align-self: flex-start;
}

#death-eaters-card-container {
  width: 45%;
  text-align: center;
  align-self: flex-start;
}

.enrolled-student-heading {
  text-align: left;
}

.death-eater-heading {
  text-align: left;
}

.card {
  margin: 26px 10px 10px 0; 
  width: 18rem; 
  text-align: center;
}

#death-eaters-card-container .card {
  background-color: #373737;
  color: antiquewhite;
  font-family: 'Cormorant Upright', serif;
  
}

#death-eaters-card-container button {
  visibility: hidden; 
}

#death-eaters-card-container p:first-of-type {
  text-decoration: line-through;
}



.card--gryffindor {
  background-color: gold; 
}

.card--slytherin {
  background-color:#A5F762;
}

.card--ravenclaw {
  background-color: #62a5f7;
}

.card--hufflepuff {
  background-color: #F762A5;
}


.form-button {
  margin: 10px 0;
}

.form-container {
  border: 1px solid #373737;
  padding: 18px;
  margin: 40px; 
  color: antiquewhite;
  background-color: #373737;
}

.form-label{
  font-size: 1.5rem;
}
